<div class="parent">
  <div class="div1 justify-content-center mx-auto py-3 ">
    <div class="grid">
      <div class="col-4 flex">
          <div class="p-fluid align-items-center justify-content-center col-1 py-3" style="height: 18vh;">

            <div class="flex mb-3 py-2 px-2">
              <img src="assets/imgs/clientes/default-avatar.png" width="90" height="90">
              <div>
                  <div width="10rem" class="align-items-center text-center justify-content-center px-3 py-4"> {{user.nombre}} {{user.apellido}}</div>
              </div>
          </div>

          </div>
      </div>
      <div class="col-1">
          <p-divider layout="vertical">
          </p-divider>
      </div>
      <div class="col-5 flex align-items-left justify-content-center">
        <p style="text-align:center;">
          DNI: {{user.dni}}<br>
          EMAIL: {{user.email}}<br>
          TELEFONO: {{user.telefono}}<br></p>
      </div>
  </div>

  </div>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div *ngFor="let mascota of mascotas; let i = index;"  class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col col-sm-4" >
            <div class="card shadow-sm " style="border-radius: 20px;">
              <img src="{{mascota.imagen}}" alt="Falló la imagen">
              <div class="card-body">
                <p class="card-text text-center"> {{mascota.nombre}}</p>
                <p class="card-text text-center"> {{mascota.id}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button pButton  pRipple (click)="redireccionar(mascota.id)" label="Ver mascota" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised" ></button>
                </div>
              </div>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>


