<div>
  <form [formGroup]="formulario" >

    <span class="p-float-label">
      <input pInputText id="password" formControlName="passwordAntiguo" type="password"/>
      <label htmlFor="password">Password actual</label>
    </span>
    <span *ngIf="isValidField('passwordAntiguo')" class="form-text text-danger">
      {{ getFieldError('passwordAntiguo') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="password" formControlName="password" type="password"/>
      <label htmlFor="password">Password</label>
    </span>
    <span *ngIf="isValidField('password')" class="form-text text-danger">
      {{ getFieldError('password') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="passwordRepetida" formControlName="passwordRepetida" type="password"/>
      <label htmlFor="passwordRepetida">Repetir password</label>
    </span>
    <span *ngIf="isValidField('passwordRepetida')" class="form-text text-danger">
      {{ getFieldError('passwordRepetida') }}
    </span>

    <div class="d-flex justify-content-center align-items-center" style="padding-top: 1cm;">
      <button pButton style="margin: 0 auto;" (click)="guardar()" [disabled]="isButtonDisabled" icon="pi pi-check" iconPos="right" label="Editar contraseña" class="p-button-success p-button-text text-center"></button>
    </div>

    <div *ngIf="isButtonDisabled" class="d-flex justify-content-center align-items-center">
    <p-progressSpinner styleClass="w-2rem h-3rem" strokeWidth="2" fill="var(--surface-ground)" animationDuration="1s"></p-progressSpinner>
    </div>

  </form>
  </div>

