<div *ngIf="clientes">
<p-table
        responsiveLayout="scroll"
        [value]="clientes"
        [scrollable]="true"
        scrollHeight="flex">

        <ng-template pTemplate="header">
            <tr>
                <th>NOMBRE</th>
                <th>DNI</th>
                <th>TELEFONO</th>
                <th>ACCIONES</th>

            </tr>
        </ng-template>

        <ng-template
            pTemplate="body"
            let-rowData="rowData"
            let-cliente sortMode="multiple">

            <tr>
                <td>
                  {{ cliente.nombre }} {{cliente.apellido }}
                </td>
                <td>
                    {{ cliente.dni }}
                </td>
                <td>
                    {{ cliente.telefono }}
                </td>
                <td>
                  <button type="submit" routerLink="/clientes/{{cliente.id}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" title="Ver perfil"  class="text-white font-bold px-2 py-1 border-radius buttonAcciones"> <i class="pi pi-user" style="color: #ffffff"></i></button>
                </td>

            </tr>
        </ng-template>
    </p-table>
  </div>
  <div *ngIf="!clientes" class="w-full text-0 font-bold text-center" style="background-color: rgb(0,0,0,0.4); border-radius: 20px;">
    No hay ningun cliente registrado
    </div>
