<div *ngIf="planillaModal">
  <p-dialog  header="Detalles de la practica" [(visible)]="planillaModal" [modal]="true" [style]="{ width: '20vw'}"  [draggable]="false" [resizable]="false" [closable]="true">
    <app-informacion-planilla (solicitudModal)="togglePlanilla($event)" [idPlanilla]="mascota.id" [idPlanilla]="idPlanilla"></app-informacion-planilla>
  </p-dialog>
</div>

<div *ngIf="solicitudModal">
  <p-dialog  header="Solicitud de turno" [(visible)]="solicitudModal" [modal]="true" [style]="{ width: '20vw'}"  [draggable]="false" [resizable]="false" [closable]="true">
    <app-turnos-mascotas (solicitudModal)="toggleSolicitud()" [idMascota]="mascota.id" [idUser]="idUser"></app-turnos-mascotas>
  </p-dialog>
  </div>

  <div class="container-fluid div1 justify-content-center mx-auto py-3 contenedor-perfil">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <img [src]="imagenUrl" alt="Avatar" style="min-width: 100%;max-width: 100%; max-height: 22vh; min-height: 22vh ; margin-top: 1.5vh;" class="rounded">

          </div>
          <div class="col-md-3">
            <div class="flex flex-column gap-0 text-center">
              <small id="username-help" class='label-perfil'>Nombre</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.nombre }}" readonly disabled />
              <small id="username-help" class='label-perfil'>Raza</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.raza | motivoPipe | titlecase }}" readonly disabled />
              <small id="username-help" class='label-perfil'>Sexo</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.sexo }}" readonly disabled />
              <small id="username-help" class='label-perfil'>Fecha de nacimiento</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.fechaDeNacimiento | fecha}}" readonly disabled />
              <small id="username-help" class='label-perfil'>Cruza</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.cruza | cruza}}" readonly disabled />
              <small id="username-help" class='label-perfil'>Castrada</small>
              <input pInputText type="text" class="info p-inputtext-sm text-center " placeholder="Small" placeholder="{{ mascota.castrada | castrada}}" readonly disabled />

            </div>
          </div>
          <div class="col-md-6">
            <p class="text-center lead font-bold">
              Observaciones<br>
            </p>
            <p-scrollPanel class="observaciones" [style]="{ width: '100%', height: '120px' }">

              {{mascota.observaciones}}
          </p-scrollPanel>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="parent">

  <div *ngIf="rolSession == 'USER'" class="mx-auto" style="width: 70vw;">
    <button pButton  pRipple label="Para solicitar un TURNO haga click aquí" (click)="toggleSolicitud()" class="w-full font-bold text-0 p-button-veterinariaOrange p-button-raised p-button-outlined" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;"></button>
  </div>
  <div *ngIf="libretaSanitaria.length > 0" class="mx-auto lista">
    <p-table
            responsiveLayout="scroll"
            [value]="libretaSanitaria"
            [scrollable]="true"
            scrollHeight="flex"
            #dt2
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            [paginator]="true"
            [globalFilterFields]="['fecha','motivo']"
            >
            <ng-template pTemplate="header">
              <tr>
                  <th >
                      <div class="flex align-items-center">
                          Fecha
                      </div>
                  </th>
                <th >
                  <div class="flex align-items-center">
                    Tipo
                     <p-columnFilter field="motivo" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                         <ng-template pTemplate="header">
                             <div class="px-3 pt-3 pb-0">
                                 <span class="font-bold">Tipo de publicacion</span>
                             </div>
                         </ng-template>
                         <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                             <p-multiSelect [ngModel]="value" [showHeader]="false" [options]="motivos" placeholder="Todos" (onChange)="filter($event.value)" optionLabel="">
                                 <ng-template let-option pTemplate="item">
                                     <div class="inline-block vertical-align-middle">
                                         <span class="ml-1 mt-1">{{ option | motivoPipe | titlecase }}</span>
                                     </div>
                                 </ng-template>
                             </p-multiSelect>
                         </ng-template>
                     </p-columnFilter>
                 </div>
              </th>
                  <th>
                      <div class="flex align-items-center">
                          Opciones
                      </div>
                  </th>
          </ng-template>


            <ng-template
                pTemplate="body"
                let-rowData="rowData"
                let-planilla sortMode="multiple">

                <tr>
                  <td>
                      {{ planilla.fecha | date:'dd/MM/yy - HH:mm' }}
                  </td>
                  <td>
                      {{ planilla.motivo | motivoPipe | titlecase }}
                  </td>

                  <td>
                    <p-button (click)="togglePlanilla(planilla.id)" icon="pi pi-eye" styleClass="p-button-rounded p-button-text"></p-button>
                  </td>

              </tr>
            </ng-template>

          </p-table>
      </div>

    <!-- </div> -->
  </div>



