<div>
  <form [formGroup]="formulario" >
    <span class="p-float-label" >
      <input pInputText id="nombre" formControlName="nombre" />
      <label htmlFor="nombre">Nombre</label>
    </span>
    <span *ngIf="isValidField('nombre')" class="form-text text-danger">
      {{ getFieldError('nombre') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="apellido" formControlName="apellido" />
      <label htmlFor="apellido">Apellido</label>
    </span>
    <span *ngIf="isValidField('apellido')" class="form-text text-danger">
      {{ getFieldError('apellido') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="email" formControlName="email" type="email"/>
      <label htmlFor="email">Email</label>
    </span>
    <span *ngIf="isValidField('email')" class="form-text text-danger">
      {{ getFieldError('email') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="telefono" formControlName="telefono" type="number"/>
      <label htmlFor="telefono">Telefono</label>
    </span>
    <span *ngIf="isValidField('telefono')" class="form-text text-danger">
      {{ getFieldError('telefono') }}
    </span>

    <button pButton  (click)="guardar()" pRipple label="Guardar" class="text-0 mr-3 p-button-veterinariaOrange p-button-raised p-button-outlined p-button-sm"></button>
    <button pButton  pRipple label="Cerrar" (click)="cerrar()" class="text-0 mr-3 p-button-veterinariaOrange p-button-raised p-button-outlined p-button-sm"></button>

  </form>
  </div>

