.p-float-label {
  margin-top: 0.6cm;
}
.p-button-veterinariaOrange {
  margin-top: 0.6cm;
}

input, button {
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p-calendar {
  position: absolute;
  z-index: 1;
}

p-button {
  display: flex;
  justify-content: center;}


  textarea{
    white-space:pre;
  }

  .custom-modal {
    width: 40vh; /* Tamaño inicial del modal */
    height: auto; /* Altura automática */
    max-height: 80vh; /* Altura máxima del modal */
    overflow-y: auto; /* Agregar barra de desplazamiento vertical si el contenido es más largo que la altura máxima */
  }
