
<section class="articles">
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/imgs/cartelera/servicios.jpeg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Servicios</h2>
        <hr>
        <p>
          Encontrarás una amplia variedad de servicios brindados por terceros, como paseadores de perros, veterinarios, y más en tu zona o lugar de preferencia.
        </p>
        <a href="/servicios" class="read-more">
          Ver más <span class="sr-only">about this is some title</span>
          <span></span>
          <i class="pi pi-arrow-right px-2" style="font-size: 1rem"></i>
        </a>
      </div>
    </div>
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/imgs/cartelera/adopciones.png" alt="" />
      </figure>
      <div class="article-body">
        <h2>Adopciones</h2>
        <hr>
        <p>
          Podrás encontrar una variedad de canes que han sido publicados por diferentes particulares en busca de un hogar amoroso y responsable
        </p>
        <a href="/adopciones" class="read-more">
          Ver más <span class="sr-only">about this is some title</span>
          <span></span>
          <i class="pi pi-arrow-right px-2" style="font-size: 1rem"></i>
        </a>
      </div>
    </div>
  </article>


  <article>
    <div class="article-wrapper">
      <figure>
        <img src="assets/imgs/cartelera/mascotasperdidas.jpg" alt="" />
      </figure>
      <div class="article-body">
        <h2>Mascotas perdidas</h2>
        <hr>
        <p>
          Verás publicaciones sobre perros perdidos o encontrados por los clientes de nuestra veterinaria y podrás ponerte en contacto con ellos
        </p>
        <a href="/perdidas" class="read-more">
          Ver más <span class="sr-only">about this is some title</span>
          <span></span>
          <i class="pi pi-arrow-right px-2" style="font-size: 1rem"></i>
        </a>
      </div>
    </div>
  </article>
</section>
