<div>
  <form [formGroup]="formulario" >

    <span class="p-float-label">
      <input pInputText id="password" formControlName="password" type="password"/>
      <label htmlFor="password">Password</label>
    </span>
    <span *ngIf="isValidField('password')" class="form-text text-danger">
      {{ getFieldError('password') }}
    </span>
    <span class="p-float-label">
      <input pInputText id="passwordRepetida" formControlName="passwordRepetida" type="password"/>
      <label htmlFor="passwordRepetida">Repetir password</label>
    </span>
    <span *ngIf="isValidField('passwordRepetida')" class="form-text text-danger">
      {{ getFieldError('passwordRepetida') }}
    </span>

    <button pButton  (click)="guardar()" pRipple label="Guardar" class="text-0 mr-3 p-button-veterinariaOrange p-button-raised p-button-outlined p-button-sm"></button>
    <button pButton  pRipple label="Cerrar" (click)="cerrar()" class="text-0 mr-3 p-button-veterinariaOrange p-button-raised p-button-outlined p-button-sm"></button>

  </form>
  </div>

