
<div class="text-center justify-content-center">
  <h6>Mascota</h6>
  <h5>{{turnoRechazado.mascota.nombre}}</h5><br>
  <h6>Dueño</h6>
  <h5>{{turnoRechazado.cliente.nombre}} {{turnoRechazado.cliente.apellido}}</h5><br>
  <h6>Motivo</h6>
  <h5>{{turnoRechazado.motivo}}</h5><br>
  <h6>Turno</h6>
  <h5>{{turnoRechazado.fecha | date:'d MMM, h:mm '}}</h5><br>
</div>
  <form [formGroup]="formulario">
    <textarea rows="5" cols="30" pInputTextarea formControlName="motivo"></textarea>
  <span *ngIf="isValidField('motivo')" class="form-text text-danger">
    {{ getFieldError('motivo') }}
  </span>
  </form>

  <div class="d-flex justify-content-center align-items-center">
    <button pButton style="margin: 0 auto;" (click)="guardar()" [disabled]="isButtonDisabled" icon="pi pi-check" iconPos="right" label="Rechazar turno" class="p-button-success p-button-text text-center"></button>
  </div>

  <div *ngIf="isButtonDisabled" class="d-flex justify-content-center align-items-center">
  <p-progressSpinner styleClass="w-2rem h-3rem" strokeWidth="2" fill="var(--surface-ground)" animationDuration="1s"></p-progressSpinner>
  </div>
