
<div class="text-center justify-content-center">
  <h6>Mascota</h6>
  <h5>{{solicitud.mascota.nombre}}</h5><br>
  <h6>Dueño</h6>
  <h5>{{solicitud.user.nombre}} {{solicitud.user.apellido}}</h5><br>
  <h6>Motivo</h6>
  <h5>{{solicitud.motivo}}</h5><br>
  <h6>Turno</h6>
  <h5>{{solicitud.horario}}</h5><br>
</div>
  <form [formGroup]="formulario">
  <div class="calendar-container">
    <p-calendar formControlName="fecha" panelStyleClass="panel" [minDate]="minDate" [readonlyInput]="true" [showTime]="true" [showIcon]="true" dateFormat="dd-mm-yy" ></p-calendar>
  </div>
  <p><br></p>
  <span *ngIf="isValidField('fecha')" class="form-text text-danger">
    {{ getFieldError('fecha') }}
  </span>
  </form>
  <p><br></p>
<p-button (click)="guardar()" icon="pi pi-check" label="Aceptar turno" styleClass="p-button-success p-button-text"></p-button>
