<div class="container mx-auto">
<p-tabView styleClass="tabview-custom" [(activeIndex)]="activeIndex" (onChange)="prueba( $event )">
  <p-tabPanel >
      <ng-template pTemplate="header">
          <i class="pi pi-calendar" style="margin-right: 0.4rem;"></i>
          <span>Turnos del dia</span>
      </ng-template>
      <app-turnos-dia ></app-turnos-dia>
  </p-tabPanel>
  <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
          <i class="pi pi-user" style="margin-right: 0.4rem;"></i>
          <span>Turnos Confirmados</span>
      </ng-template>
      <app-turnos ></app-turnos>
  </p-tabPanel>
  <p-tabPanel header="Header III">
      <ng-template pTemplate="header">
        <i class="pi pi-clock" style="margin-right: 0.4rem;"></i>
          <span style="margin-right: 0.4rem;">Turnos pendientes</span>
          <p-badge value="{{value}}"></p-badge>
      </ng-template>
      <app-turnos-pendientes  (cantidadSolicitudes)="value = $event " ></app-turnos-pendientes>
  </p-tabPanel>
</p-tabView>



</div>
