
<div *ngIf="!cambioPassword && idUser != null">
  <p-dialog  header="" [(visible)]="!cambioPassword" [modal]="true" [style]="{ width: '25vw' }"  [draggable]="false" [resizable]="false" [closable]="false">
    <div class="text-align">
    <h4>Bienvenido a OhMyDog!</h4>
    <p>
      Por unica vez le pedimos que ingrese una nueva contraseña a elección, esto es para facilitarle a usted el ingreso en futuras visitas
    </p>
  </div>
    <app-editar-password (editarModal)="cambioPassword = $event.valueOf()" [idUser]="idUser"></app-editar-password>
  </p-dialog>
</div>

    <!-- Page Header -->
    <header class="header">
      <div style=" background-color: rgba(0,0,0,0.4);" class=" h-full col-5 md:col-6 p-6 text-center md:text-center flex align-items-center ">
        <section class="h-full" style=" border-radius: 20px; background-color: rgba(0,0,0,0.0);">
          <img src="assets/imgs/logo1.png" alt="Image" style="max-height: 270px;" class="md:ml-auto md:h-full align-items-center animate__animated animate__rubberBand">


          <p class="mt-0 mb-4 text-0 line-height-2 font-bold">
            Somos una clínica veterinaria especializada en perros con la intención de proteger y mejorar su salud brindándoles atención médica de calidad. Además, en nuestra cartelera facilitamos la búsqueda de servicios de terceros como adopciones, paseadores, guarderías y más.
          </p>

          <p class="mt-0 mb-4 text-0 line-height-2 text-align font-bold">
            Publicamos campañas de donaciones para mascotas que necesiten tratamientos costosos, en las que usted puede colaborar cuando y en la medida que lo desee; o también, con su aporte, ayudar a que nuestra veterinaria siga creciendo
          </p>

          <p class="mt-0 mb-4 text-0 line-height-2 text-0 font-bold">Para solicitar prácticas médicas y más funcionalidades, por favor inicie sesión</p>
          <button pButton  pRipple (click)="cartelera()" label="Cartelera" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised" ></button>
          <button pButton  pRipple label="Veterinarias de turno" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised "></button>
          <button pButton  pRipple label="Donaciones" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised "></button>


          </section>
      </div>

    </header>
    <!-- End Of Page Header -->


