

    <!-- Page Header -->
    <header class="header">
      <div style=" background-color: rgba(0,0,0,0.4);" class=" h-full col-5 md:col-6 p-6 text-center md:text-center flex align-items-center ">
        <section style=" border-radius: 20px; background-color: rgba(0,0,0,0.0);">
          <img src="assets/logo1.png" alt="Image" style="max-height: 300px;" class="md:ml-auto md:h-full align-items-center">



          <p class="mt-0 mb-4 text-0 line-height-3 font-bold">
            Somos una clínica veterinaria especializada en perros con la intención de proteger y mejorar su salud brindándoles atención médica de calidad. Además, facilitamos la búsqueda de servicios de terceros como; adopción, paseadores, guarderías y más; en nuestra cartelera.
          </p>

          <p class="mt-0 mb-4 text-0 line-height-3 font-bold">
            Publicamos campañas de donaciones para mascotas que necesiten tratamientos costosos, por lo que usted podrá aportar si así lo desea. Incluso puede ayudar a nuestra veterinaria a que siga creciendo en la misma sección, estaríamos muy agradecidos
          </p>

          <p class="mt-0 mb-4 text-0 line-height-3 text-0 font-bold">Para solicitar prácticas médicas y más funcionalidades, por favor inicie sesión</p>
          <button pButton  pRipple label="Cartelera" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised "></button>
          <button pButton  pRipple label="Veterinarias de turno" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised "></button>
          <button pButton  pRipple label="Donaciones" type="button" class="mr-3 p-button-veterinariaOrange p-button-raised "></button>


          </section>
      </div>

    </header>
    <!-- End Of Page Header -->


