
<p>
  Turno mañana: 8hs a 13hs, Lunes a Sabado<br>
  Turno tarde: 15hs a 20hs, Lunes a Viernes
</p>
<form [formGroup]="formulario" >

  <p-dropdown styleClass="w-full mt-4" formControlName="motivo" [options]="motivos" placeholder="Practica" [editable]="false" optionLabel="motivo">
    <ng-template pTemplate="item" let-motivo>
      {{ motivo.motivo | motivoPipe | titlecase }}
    </ng-template>
    <ng-template pTemplate="selectedItem" let-motivo>
      {{ motivo.motivo | motivoPipe | titlecase }}
    </ng-template>
  </p-dropdown>
  <span *ngIf="isValidField('motivo')" class="form-text text-danger">
    {{ getFieldError('motivo') }}
  </span>

  <p-dropdown styleClass="w-full mt-4" formControlName="horario" [options]="horarios" placeholder="Horario" [editable]="false" optionLabel="horario">
    <ng-template pTemplate="item" let-horario>
      {{ horario.horario | titlecase }}
    </ng-template>
    <ng-template pTemplate="selectedItem" let-horario>
      {{ horario.horario | titlecase }}
    </ng-template>
  </p-dropdown>

  <span *ngIf="isValidField('horario')" class="form-text text-danger">
    {{ getFieldError('horario') }}
  </span>

  <textarea styleClass="w-full mt-4" class="mt-4" rows="5" cols="28" pInputTextarea formControlName="observaciones"></textarea>

  <div class="d-flex justify-content-center align-items-center" style="padding-top: 1cm;">
    <button pButton style="margin: 0 auto;" (click)="guardar()" [disabled]="isButtonDisabled" icon="pi pi-check" iconPos="right" label="Enviar" class="p-button-success p-button-text text-center"></button>
  </div>
</form>


