<div class="container mx-auto">
  <div *ngIf="rolSession == 'ADMIN'">
  <button pButton  pRipple label="Agregar campaña de donacion +" (click)="toggleCrear($event)" class="text-0 mr-3 p-button-veterinariaOrange p-button-raised p-button-outlined p-button-sm"></button>
</div>
<div *ngIf="crearModal">
<p-dialog header="Registro de publicacion" [(visible)]="crearModal" [modal]="true" [style]="{ width: '40vw' }"  [draggable]="false" [resizable]="false" [closable]="true">
    <app-crear (modal)="toggleCrear($event)"></app-crear>
  </p-dialog>
</div>
<div *ngIf="editarModal">
  <p-dialog header="Edicion de publicacion" [(visible)]="editarModal" [modal]="true" [style]="{ width: '40vw' }"  [draggable]="false" [resizable]="false" [closable]="true">
      <app-editar (modal)="toggleEditar($event)" [donacion]="donacionIndividual"></app-editar>
    </p-dialog>
  </div>

  <div *ngIf="donaciones.length > 0">
  <p-table
          responsiveLayout="scroll"
          [value]="donaciones"
          [scrollable]="true"
          scrollHeight="flex"
          #dt2
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [paginator]="true"
          [globalFilterFields]="['nombre','activa','montoAlcanzado','descripcion','objetivo']"
          >
          <ng-template pTemplate="header">
            <tr>
                <th >
                    <div class="flex align-items-center">
                        Nombre
                        <p-columnFilter type="text" field="nombre"  matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                    </div>
                </th>
                <th >
                  <div class="flex align-items-center">
                      Descripcion
                      <p-columnFilter type="text" field="descripcion" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                  </div>
              </th>
              <th >
                <div class="flex align-items-center">
                    Monto alcanzado
                    <p-columnFilter type="text" field="montoAlcanzado" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
              <th >
                <div class="flex align-items-center">
                    Objetivo
                    <p-columnFilter type="text" field="objetivo" matchMode="contains" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
                </div>
            </th>
            <th  *ngIf="rolSession == 'ADMIN'">
              <div class="flex align-items-center" style="max-width:2.5rem">
                  Estado
                  <p-columnFilter class="ml-2 mb-1"  type="boolean" field="activa" ></p-columnFilter>
              </div>
          </th>
          <th>
              <div class="flex align-items-center">
                  Opciones
              </div>
          </th>
        </ng-template>


          <ng-template
              pTemplate="body"
              let-rowData="rowData"
              let-donacion sortMode="multiple">

              <tr>
                  <td>
                      {{ donacion.nombre }}
                  </td>
                  <td>
                    {{donacion.descripcion | motivoPipe | titlecase }}
                </td>
                <td>
                  $ {{ donacion.montoAlcanzado | motivoPipe | titlecase}}
               </td>
                <td>
                  $ {{ donacion.objetivo | motivoPipe | titlecase}}
               </td>

              <td *ngIf="rolSession == 'ADMIN'" class="text-center">
                <i class="pi" [ngClass]="{ 'text-green-400 pi-check-circle': donacion.activa, 'text-red-500 pi-times-circle': !donacion.activa}"></i>
              </td>

            <td>
              <span><p-button (click)="toggleVer(donacion)" icon="pi pi-money-bill" title="Donar" styleClass="p-button-rounded p-button-text"></p-button></span>
            <span><div *ngIf="rolSession == 'ADMIN'">
              <p-button (click)="toggleEditar(donacion)" icon="pi pi-pencil" title="Editar" styleClass="p-button-rounded p-button-text"></p-button>
              </div></span>
            </td>
              </tr>
          </ng-template>

        </p-table>
    </div>
    <div *ngIf="donaciones.length == 0" class="w-full font-bold text-center align-items-center" style="background-color: rgb(255,255,255,1); height: 5vh;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
      <div style="padding-top: 0.8vw;">
      No hay ninguna campaña de donacion registrada
      </div>
    </div>
    </div>

    <div *ngIf="verModal">
      <p-dialog header="Edicion de publicacion" [(visible)]="verModal" [modal]="true" [style]="{ width: '70vw' }"  [draggable]="false" [resizable]="false" [closable]="true">
          <app-ver [donacion]="donacionIndividual"></app-ver>
        </p-dialog>
      </div>

