
<div *ngIf="admin">
  <input type="file" multiple (change)="imageSelected($event)" style="display: none;" id="selectFile">
<label for="selectFile" class="custom-file-upload">
  <span>+ Veterinarias de turno</span>
</label>

</div>
<div class="pContainer">
      <p-panel *ngIf="pdf" header="Veterinarias de turno" [toggleable]="false">
        <embed [src]="pdf" type="application/pdf" width="100%" height="600px" />
      </p-panel>
      <p-panel *ngIf="!pdf" header="Veterinarias de turno" [toggleable]="false">
        No hay farmacias de turno cargadas
      </p-panel>
</div>
