
body{
  width: 70vw;
}
p-table th:first-child{
  border-radius:0px 0 0 0px;
}

p-table th:last-child{
  border-radius:0px 0px 0px 0;
}

.buttonAcciones {
  border-color: var(--blue-veterinaria);
  background-color: var(--orange-veterinaria);
  border-radius: 20px;

}

.iconosAcciones {
  font-size: 1.5rem;
}

.p-button-veterinariaOrange {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  background: transparent
  ;
}


.container {
  background: transparent;
  padding: 0cm;
  border-width: 1cm;
  border-radius: 20px;
  margin-top: 1rem;
  width: 70vw;
  box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, 0.5);
}

.p-float-label {
  margin-top: 0.6cm;
}
.p-button-veterinariaOrange {
  margin-top: 0.6cm;
}

input {
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  width: 20rem;
}
textarea{
  white-space:pre;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

